body {
  background-color: black;
  background-image: url(./assets/images/bookcollage.jpg);
  /* z-index: -1; */
  background-size: 100%;

}

.text-muted{
  letter-spacing: 1em;
}
h3{
  background-color: white;
  font-family:Arial, Helvetica, sans-serif;
  color:black;
  text-shadow: 1px 1px grey;
}
.App {
  text-align: center;
  padding: 10px;
}

#navbar {
  font-size: 32px;
}

#home {
  /* background-image: url(./assets/images/bookcollage.jpg); opacity: 0.5;z-index: -1; */
}

/* #books{
  background-image: url(./assets/images/bookcollage.jpg); opacity: 0.5;z-index: -1;
} */
#comics {}

#about {
  width: 25rem;
  height: 70rem;
  background-size: cover;
  align-content: center;
}

#anchor {
  overflow: hidden;
  left: 200px;
  transform: scale(1);
  transition: transform 0.5s ease;
  height:420px;
}

#anchor:hover {
  transform: scale(1.1);
}

/* nav{
  display: flex;
  justify-content: space-around;
  background-color: black;
  min-height: auto;
  align-items: center;
  padding: 10px;
} */
#navbar {
  width: 100%;
  align-content: center;
  justify-content: space-around;
  background-color: white;
  list-style: none;
  display: flex;
  transform: scale(1);
  transition: transform 0.7s ease;
  text-shadow: 1px 1px black;
}

#navbar li:hover {
  transform: scale(1.5);
  color:red;
}

.social {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: white;
  min-height: auto;
  align-items: center;
  border: auto;
}

/* #social{
  display: flex;
  justify-content: space-around;
  background-color: white;
  min-height: auto;
  align-items: center;
  padding: 10px;

} */
#facebook {
  width: 50px;
  align-content: center;
  justify-content: space-around;
  list-style: none;
  display: flex;
  min-height: auto;
  align-items: center;
  padding: 10px;
  transform: scale(1);
  transition: transform 0.5s ease;
}

#facebook:hover {
  transform: scale(1.1);
}

#twitter {
  width: 50px;
  align-content: center;
  justify-content: space-around;
  list-style: none;
  display: flex;
  min-height: auto;
  align-items: center;
  padding: 10px;
  transform: scale(1);
  transition: transform 0.5s ease;
}

#twitter:hover {
  transform: scale(1.1);
}

#instagram {
  width: 50px;
  align-content: center;
  justify-content: space-around;

  list-style: none;
  display: flex;
  min-height: auto;
  align-items: center;
  padding: 10px;
  transform: scale(1);
  transition: transform 0.5s ease;
}

#instagram:hover {
  transform: scale(1.1);
}

#patreon {
  width: 50px;
  align-content: center;
  justify-content: space-around;

  list-style: none;
  display: flex;
  min-height: auto;
  align-items: center;
  padding: 10px;
  transform: scale(1);
  transition: transform 0.5s ease;
}

#patreon:hover {
  transform: scale(1.1);
}

#twitch {
  padding: 2px 0px 4px;
  display: block;
  width: 345px;
  font-weight: normal;
  font-size: 10px;
  text-decoration: underline;
  transform: scale(1);
  transition: transform 0.5s ease;
}

#twitch:hover {
  transform: scale(1.1);
}

#extra {}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

}

.App-link {
  color: #61dafb;
}

#bookcards {
  height: 50rem;
}

.card {
  width: 25rem;

}

.card:hover {
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253) !important;
}

.card-body {
  padding: 3rem !important;
}

#featured {
  width: 50%;
  border: 50px 50px 50px 50px;
  margin: 0 auto;
}

#featured:hover {
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253) !important;
}

.card-text {
  font-size: 0.9rem;
  padding: 0.2rem 1.2rem;
}

.overflow {
  overflow: hidden;
}

.card-img-top {
  transform: scale(1);
  transition: transform 0.5s ease;
}

.card-img-top:hover {
  transform: scale(1.1);
}

.container-fluid .row {
  padding-top: 6rem;
  margin: 0 auto;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* @media only screen and (max-width:880px){
  #navbar{
    background-color: black;
  }
  #navbar li{
    width: 100%;
    font-size: 24px;
    color: white;
  }
  .card{
    width: 100%;
  }
  #featured{
    width: 100%;
  }
 
  #social{
    width: 100%;
  }
  #social img{
    display: none;
  
  }
  #social li{
    width: 100%;
    display: flex;
    font-size: 12px;
  }
  #instagram{
    width:5px;
  }
  #anchor{
    width: 100%;
  }
  #twitch{
    width: 100%;
  }
  h3{
    background-color: black;
    color: white;
  }
}

@media only screen and (max-width:900px){
  #navbar{
    background-color: black;
  }
  #navbar li{
    width: 100%;
    font-size: 24px;
    color: white;
  }
  .card{
    width:100%;
  }


  #featured{
    width: 100%;
  }
 
  #social{
    width: 100%;
  }
  #social img{
    display: none;
  
  }
  #social li{
    width: 100%;
    display: flex;
    font-size: 12px;
  }
  #instagram{
    width:5px;
  }
  #anchor{
    width: 100%;
  }
  #twitch{
    width: 100%;
  }
  h3{
    background-color: black;
    color: white;
  }
} */

@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */
  #navbar{
    background-color: black;
  }
  #navbar li{
    width: 100%;
    font-size: 24px;
    color: white;
  }
  .card{
    width: 100%;
  }
  #featured{
    width: 100%;
  }
 
  #social{
    width: 100%;
  }
  #social img{
    display: none;
  
  }
  #social li{
    width: 100%;
    display: flex;
    font-size: 12px;
  }
  #instagram{
    width:5px;
  }
  #anchor{
    width: 100%;
  }
  #twitch{
    width: 100%;
  }
  h3{
    background-color: black;
    color: white;
  }
 }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
  #navbar{
    background-color: black;
  }
  #navbar li{
    width: 100%;
    font-size: 24px;
    color: white;
  }
  .card{
    width: 100%;
  }
  #featured{
    width: 100%;
  }
 
  #social{
    width: 100%;
  }
  #social img{
    display: none;
  
  }
  #social li{
    width: 100%;
    display: flex;
    font-size: 12px;
  }
  #instagram{
    width:5px;
  }
  #anchor{
    width: 100%;
  }
  #twitch{
    width: 100%;
  }
  h3{
    background-color: black;
    color: white;
  }
}
@media (min-width:641px) and (max-width:1100px) { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
  
  #navbar{
    background-color: black;
  }
  #navbar li{
    width: 100%;
    font-size: 24px;
    color: white;
  }
 
  #featured{
    width: 100%;
  }
 
  #social{
    width: 100%;
  }
  #social img{
    display: none;
  
  }
  #social li{
    width: 100%;
    display: flex;
    font-size: 12px;
  }
  #instagram{
    width:5px;
  }
  #anchor{
    width: 100%;
  }
  #twitch{
    width: 100%;
  }
  h3{
    background-color: black;
    color: white;
  }
  .container-fluid{
    box-sizing: border-box;
    flex: 20%;
    width: 100%;
  }
 
.card{
  width: 350px;
}


}
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
  /* #navbar{
    background-color: black;
  }
  #navbar li{
    width: 100%;
    font-size: 24px;
    color: white;
  }
  .card{
    width: 100%;
  }
  #featured{
    width: 100%;
  }
 
  #social{
    width: 100%;
  }
  #social img{
    display: none;
  
  }
  #social li{
    width: 100%;
    display: flex;
    font-size: 12px;
  }
  #instagram{
    width:5px;
  }
  #anchor{
    width: 100%;
  }
  #twitch{
    width: 100%;
  }
  h3{
    background-color: black;
    color: white;
  } 
/*  */

}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
  /* #navbar{
    background-color: black;
  }
  #navbar li{
    width: 100%;
    font-size: 24px;
    color: white;
  }
  .card{
    width: 100%;
  }
  #featured{
    width: 100%;
  }
 
  #social{
    width: 100%;
  }
  #social img{
    display: none;
  
  }
  #social li{
    width: 100%;
    display: flex;
    font-size: 12px;
  }
  #instagram{
    width:5px;
  }
  #anchor{
    width: 100%;
  }
  #twitch{
    width: 100%;
  }
  h3{
    background-color: black;
    color: white;
  } */
 }
@media (min-width:1281px) { /* hi-res laptops and desktops */ 
  /* #navbar{
    background-color: black;
  }
  #navbar li{
    width: 100%;
    font-size: 24px;
    color: white;
  }
  .card{
    width: 100%;
  }
  #featured{
    width: 100%;
  }
 
  #social{
    width: 100%;
  }
  #social img{
    display: none;
  
  }
  #social li{
    width: 100%;
    display: flex;
    font-size: 12px;
  }
  #instagram{
    width:5px;
  }
  #anchor{
    width: 100%;
  }
  #twitch{
    width: 100%;
  }
  h3{
    background-color: black;
    color: white;
  } */
}